@import "../../style/mixins";

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;

  @include sm {
    flex-direction: row;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &--input {
      font-size: 1.1rem;
      font-weight: 200;
      padding: 0.5rem;
      border: none;
      text-transform: capitalize;

      &::placeholder {
        text-transform: lowercase;
      }

      &:focus {
        outline: none;
      }
    }

    &--icon {
      color: white;
      margin: 0 0.5rem;
      transition: transform 1s ease;

      // Recheck this later...
      &:hover {
        transform: scale(1.3);
        cursor: pointer;
      }
    }
  }

  &__temperature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

    @include sm {
      padding-top: 0;
    }

    &--button {
      color: white;
      font-size: 1.2rem;

      background-color: inherit;
      border: none;
    }

    &--spacer {
      color: white;
      font-size: 1.2rem;
    }
  }
}
