.currentLocale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;

  &--title {
    color: white;
    font-size: 1.4rem;
    text-align: center;
  }

  &__data {
    display: flex;
    justify-content: center;
    align-items: center;

    &--header {
      color: white;
      font-size: 2rem;
      padding-top: 2rem;
    }
  }
}
